*.bak

# Ignore any generated html files, but include the report html template
*.html

!/packages/caliper-core/lib/manager/report/template/report.html

# Ignore DS_Store files from Mac
**.DS_Store

architecture.pptx
output.log
lerna-debug.log

# We prefer to not use lock files
**/package-lock.json

.idea/
**/node_modules/
**/log/
**/*.log

# Ignore code coverage logs
**/.nyc_output/
**/coverage/

# Ignore IDE files
.vscode/

# Website files
.sass-cache/
Gemfile.lock
_site/

# verdaccio files
**/storage

# pm2 files
**/.pm2/

# lerna log
lerna-debug.log

# contract address file
**/*.address

# Ignore data
data/

# Ignore temp test files
temp/
