architecture.pptx
.idea/*
*.bak
zookeeper.out
node_modules/
package-lock.json
output.log

#Ignore default Caliper log location
log/

# Ignore any generted html files, but include the report html template
*.html
!/packages/caliper-core/lib/report/template/report.html

# Ignore DS_Store files from Mac
**.DS_Store

# Ignore any composer logs
composer-logs/

# Ignore code coverage logs
.nyc_output/
coverage/

# We prefer to not use lock files
package-lock.json

# Ignore zookeeper files
zookeeper.out

# Ignore IDE files
.vscode/*

# Website files
.sass-cache/
Gemfile.lock
_site/
