.idea/*
*.bak
node_modules/
package-lock.json
output.log
log/
.nyc_output

# Ignore DS_Store files from Mac
**.DS_Store

# Ignore code coverage logs
coverage/

# Ignore IDE files
.vscode/

# We prefer to not use lock files
package-lock.json
*.lock

_site/
.sass-cache
.jekyll-metadata
