<div class="item">
  <p style="color: #2a7ae2;">Version</p>
  <select id="versionSelect" onchange="location = this.options[this.selectedIndex].value;"
    style="width:5rem; height: 1.5rem;">
    <option value="/caliper/v0.2/getting-started/"> v0.2</option>
    <option value="/caliper/v0.3.2/getting-started/">v0.3.2</option>
    <option value="/caliper/v0.4.2/getting-started/">v0.4.2</option>
    <option value="/caliper/v0.5.0/getting-started/">v0.5.0</option>
    <option value="/caliper/vNext/getting-started/" selected>vNext</option>
  </select>
</div>
<hr>
<h2>Overview</h2>
{% assign sorted_pages = site.pages | sort:"order" %}
{% for page in sorted_pages %}
{% if page.categories contains 'docs'%}
{% if page.permalink contains site.caliper.next_release %}
<div class="item">
  <!-- <p>{{page.description}}</p> -->
  <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
</div>
{% endif %}
{% endif %}
{% endfor %}
<hr>
<h2>Connector Configuration</h2>
{% for page in sorted_pages %}
{% if page.categories contains 'config' %}
{% if page.permalink contains site.caliper.next_release %}
<div class="item">
  <!-- <p>{{page.description}}</p> -->
  <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
</div>
{% endif %}
{% endif %}
{% endfor %}
<hr>
<h2>Tutorials</h2>
{% for page in sorted_pages %}
{% if page.categories contains 'tutorial' %}
{% if page.permalink contains site.caliper.next_release %}
<div class="item">
  <!-- <p>{{page.description}}</p> -->
  <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
</div>
{% endif %}
{% endif %}
{% endfor %}
<hr>
<h2>Reference</h2>
{% for page in sorted_pages %}
{% if page.categories contains 'reference' %}
{% if page.permalink contains site.caliper.next_release %}
<div class="item">
  <!-- <p>{{page.description}}</p> -->
  <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
</div>
{% endif %}
{% endif %}
{% endfor %}
<hr>
<h2>General</h2>
{% for page in sorted_pages %}
{% if page.categories contains 'general' %}
{% if page.permalink contains site.caliper.next_release %}
<div class="item">
  <!-- <p>{{page.description}}</p> -->
  <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
</div>
{% endif %}
{% endif %}
{% endfor %}