/* Move the main navigation to the left side */
.md-sidebar {
    float: left;
    width: 20%;
    max-width: 250px;
}

/* Adjust the main content to be on the right side */
.md-main {
    margin-left: 21%; /* slightly more than .md-sidebar width to add some padding */
}

/* Ensure that the sidebar stays fixed while scrolling */
.md-sidebar.md-sidebar--primary {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}

/* Adjust the width of the main content container */
.md-content {
    max-width: 100%;
}
