site_name: Hyperledger Caliper
repo_name: hyperledger/caliper
repo_url: https://github.com/hyperledger/caliper
docs_dir: source
site_dir: build
theme:
  name: material
  custom_dir: overrides
  logo: _static/caliper.svg
  favicon: _static/caliper.svg
  icon:
    repo: fontawesome/brands/github
  features:
    - announce.dismiss
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    - content.tabs.link
    - content.tooltips
    # - header.autohide
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
  # Palette toggle for light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default
    toggle:
      icon: material/brightness-7
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    # Palette toggle for dark mode
    scheme: slate
    toggle:
      icon: material/brightness-4
      name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  icon:
    logo: logo

# Plugins
plugins:
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true
  - mike:
      version_selector: true

extra:
  status:
    new: Recently added
    deprecated: Deprecated
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
  version:
    provider: mike

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

not_in_nav: |
  /tutorials/**/*.md

# Page tree
nav:
  - Introduction: index.md
  - Overview:
    - Installing and Running Caliper: overview/installing-caliper.md
    - Benchmark Configuration: overview/bench-config.md
    - Workload Configuration: overview/workload-module.md
    - Architecture: overview/architecture.md
  - Ethereum Configuration: connector-configuration/ethereum-config.md
  - Fabric Configuration: connector-configuration/fabric-config.md
  - Tutorials:
    - Fabric Tutorials: fabric-tutorial/index.md
    - Existing Fabric Tutorials: fabric-tutorial/tutorials-fabric-existing.md
  - Reference:
    - Writing Connectors: references/writing-connectors.md
    - Runtime Configuration: references/runtime-config.md
    - Declarative Workloads: references/declarative-workload-module.md
    - Rate Controllers: references/rate-controllers.md
    - Resource and Transaction Monitors: references/caliper-monitors.md
    - Messengers: references/caliper-messengers.md
    - Benchmark Generators: references/benchmark-generators.md
    - Logging Control: references/logging-control.md
  - General:
    - Contributing: general/contributing.md
    - Caliper FAQ: general/faq.md
    - License: general/license.md